@model ProjectTeamFour.ViewModels.CarCarPlanViewModel


<div class="cardtemplate-section-item cardtemplate">
    <a href="#">
        <div class="cardtemplate-item project-picture">
            <img class="w-100" src=@Model.PlanImgUrl>
        </div>
        <div class="cardtemplate-item tag">
            <div class="tag-item categories">
                <p>@Model.Category</p>
            </div>
        </div>
        <div class="cardtemplate-item project-name">
            <h4>@Model.ProjectName</h4>
        </div>
        <div class="cardtemplate-item plan-title">
            <h3>@Model.PlanTitle</h3>
        </div>
        <div class="cardtemplate-item project-team">
            <p>@Model.CreatorName</p>
        </div>
        <div class="cardtemplate-item project-progressbar">
            <div class="project-progressbar-item"></div>
        </div>
    </a>
    <div class="cardtemplate-item project-amount d-flex justify-content-between">
        <div class="project-amount-item amount">
            <p>
                @Model.PlanPrice
            </p>
        </div>
        <div class="project-amount-item add-to-cart d-flex">
            <p>上車囉</p>
            <button><i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>