@{
    MemberViewModel vm = Session["member"] == null ? null : (MemberViewModel)Session["Member"];

    int count = 0;

    if (Session["Cart"] != null)
    {
        var myCart = (CartItemListViewModel)Session["Cart"]; //將Session中的購物車記錄還原成集合
        count = myCart.CartItems.Count;
    }

    @*if (vm.IsThirdParty == "Facebook")
    {
        
    }*@

}


@* Header phonemode *@
<section class="phonemode-navbar" style="position:sticky; position:-webkit-sticky; top:0px; z-index:10; background-color:white">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <nav id="sidebar">
        <div class="sidebar-header">
            <h2>
                <a href="/Home/Index"><img src="~/Assets/Img/SiteLogo/raisebubupic-removebg.png" alt="Site Logo" width="70" height="80"/></a>
                @*<img src="~/Assets/Img/SiteLogo/raisebubupic.png" alt="Site Logo" />*@
                @*@Html.ActionLink("集資車車", "Index", "Home")*@
            </h2>
            <li class="sidebar-item search">
                <i class="fas fa-search" id="phone-search"></i>
            </li>
            @if (vm == null)
            {
                <a href="/Member/Login" class="nav-item message message-phone" id="message-phone">
                    <i class="fas fa-bullhorn">
                        <p class="message-count">N</p>
                    </i>
                </a>
            }
            else
            {
                <a href="/UserInfo/ToNews/@vm.MemberId" class="nav-item message message-phone" id="message-phone">
                    <i class="fas fa-bullhorn">
                        <p class="message-count">@vm.UnreadCount</p>
                    </i>
                </a>
            }
        </div>       

        <div class="search-input">
            <input type="text" class="phone-input-search" id="phone-searchString">
        </div>

        <ul class="list-unstyled list mt-2">
            <li class="active list-item">
                @*htmllink*@
                <a href="/AboutUs/Index">關於</a>
            </li>
            <li class="list-item">
                @*htmllink*@
                <a href="/StartAProject/Index">提案</a>
            </li>
            <li class="list-item">
                @*htmllink*@
                <a href="/Projects/GetAll/id">探索</a>
            </li>
            <li class="list-item">
                @*htmllink*@
                <a href="/CarCarPlan/Index">車車專區</a>
            </li>
        </ul>


         @*<div class="col-12 col-sm-12 col-md-1 mb-md-5 mt-5">*@
                <div class="footer-item social-media d-flex justify-content-center mt-5">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-3">
                            <div class="social-media-item facebook mr-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-3">
                            <div class="social-media-item instagram mr-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="social-media-item flickr mr-3 mt-md-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-flickr"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="social-media-item linkedin mt-md-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            @*</div>*@
    </nav>

    <div class="overlay"></div>

    <div class="hamburger">
        <button class="sidebar-collapse" id="sidebarCollapse">
            <i class="fas fa-bars"></i>
        </button>

        @*<a class="navbar-brand title" href="#">
                <h1>集資車車</h1>
            </a>*@

        <div class="title">
            <h1>
                <a href="/Home/Index" class="nav-item">
                    <img src="~/Assets/Img/SiteLogo/newlogo-removebg.png" alt="Alternate Text" width="160" height="75" />
                </a>
            </h1>
        </div>

        <div class="d-flex">

            <a class="nav-item cart" href="/ShoppingCart/ListShoppingCart">
                <i class="fas fa-shopping-cart"></i>
                <p class="MyCart">@count</p>
            </a>

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (vm == null)
                    {
                        @StringFormat5.ShowNoLoginPic()
                    }
                    else
                    {
                        @StringFormat5.ShowLoginPic(vm.ProfileImgUrl, vm.Gender)
                    }

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    @if (vm == null)
                    {
                        @StringFormat5.ShowNoLogin()
                    }
                    else
                    {
                        @StringFormat5.ShowMemberMessage(vm)
                    }
                </div>
            </li>
        </div>
    </div>
</section>
@* Header pcmode*@
<section class="pcmode-navbar" style="position:sticky; position:-webkit-sticky; top:0px; z-index:10; background-color:white">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item space-box">
                </li>

                <li class="nav-item about">
                    @*htmllink*@
                    <a class="nav-link guide" href="/AboutUs/Index">關於</a>
                </li>
                <li class="nav-item idea">
                    @*htmllink*@
                    <a class="nav-link guide" href="/StartAProject/Index">提案</a>
                </li>
                <li class="nav-item explore">
                    @*htmllink*@
                    <a class="nav-link guide" href="/Projects/GetAll/id">探索</a>
                </li>

                <li class="nav-item explore">
                    @*htmllink*@
                    <a class="nav-link guide" href="/CarCarPlan/Index">車車</a>
                </li>

                <li class="nav-item search">
                    <i class="fas fa-search pc-fa-search"></i>
                    @*<form action="/Home/Search" method="post" id="search-form">*@
                    <input class="pc-input-search searchString" type="text" id="searchString" value="" />
                    @*</form>*@
                </li>

                <li class="title">
                    <h1>

                        @*<a href="/Home/Index" class="nav-item">
                            <img src="~/Assets/Img/SiteLogo/raisebubupic2.png" alt="Alternate Text" width="200" height="200" />
                        </a>*@

                        <a href="/Home/Index" class="nav-item">
                            <img src="~/Assets/Img/SiteLogo/newlogo-removebg.png" alt="Alternate Text" width="210" height="105" />
                        </a>

                    </h1>
                </li>
                <a class="nav-item cart" href="/ShoppingCart/ListShoppingCart">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="MyCart">@count</p>
                </a>
                @if (vm == null)
                {
                    <a href="/Member/Login" class="nav-item message" id="message">
                        <i class="fas fa-bullhorn">
                            <p class="message-count">N</p>
                        </i>
                    </a>
                }
                else
                {
                    <a href="/UserInfo/ToNews/@vm.MemberId#pills-news" class="nav-item message" id="message">
                        <i class="fas fa-bullhorn">
                            <p class="message-count">@vm.UnreadCount</p>
                        </i>
                    </a>

                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (vm == null)
                        {
                            @StringFormat5.ShowNoLoginPic()
                        }
                        else
                        {
                            @StringFormat5.ShowLoginPic(vm.ProfileImgUrl, vm.Gender)
                        }

                        @*<img src="https://picsum.photos/40/40/?random=1">*@
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        @if (vm == null)
                        {
                            @StringFormat5.ShowNoLogin()
                        }
                        else
                        {
                            @StringFormat5.ShowMemberMessage(vm)
                        }

                        @*尚未登入註冊放這個*@

                        @*<a class="dropdown-item" href="/MemberLogin/Index">登入</a>
                <a class="dropdown-item" href="/MemberRegister/Index">註冊</a>*@

                        @*已經登入放這個*@


                        @*<a class="dropdown-item" href="/PersonInfo/User">個人頁面</a>
                <hr />
                <a class="dropdown-item" href="/PersonInfo/Sponser">贊助紀錄</a>
                <a class="dropdown-item" href="/PersonInfo/Myprojects">提案紀錄</a>
                <hr />
                <a class="dropdown-item" href="/PersonInfo/Message">聯絡訊息</a>
                <a class="dropdown-item" href="/PersonInfo/Notifactions">最新通知</a>
                <a class="dropdown-item" href="/Member/Logout">登出</a>
                        *@

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
