@model ProjectTeamFour.ViewModels.ProjectViewModel


@{
    DateTime today = DateTime.Now;
    decimal num = (Model.FundingAmount / Model.AmountThreshold) * 100;
    int Progress = (int)num;
    string ProgressStr = Progress.ToString() + "%";
    double dateLine = Convert.ToInt32(new TimeSpan(Model.EndDate.Ticks - today.Ticks).TotalDays);
}



@if (dateLine > 0 && Model.ApprovingStatus == 2)
{

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="cardtemplate-section-item cardtemplate">
            <a href="/ProjectDetail/Index/@Model.ProjectId">
                <div class="cardtemplate-item project-picture">
                    <img class="w-100" src=@Model.ProjectMainUrl>
                </div>
                <div class="cardtemplate-item d-flex tag">
                    <div class="tag-item categories">
                        <p>@Model.Category</p>
                    </div>

                    @if (Progress > 100)
                    {
                        <div class="status tag-item" id="success-item">
                            <p id="status-text">
                                集資成功
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="status tag-item" id="tag-item">
                            <p id="default">
                                @Model.ProjectStatus
                            </p>
                        </div>
                    }
                    
                </div>
                <div class="cardtemplate-item project-name">
                    <h3>@Model.ProjectName</h3>
                </div>
                <div class="cardtemplate-item project-team">
                    <p>@Model.CreatorName</p>
                </div>
                <div class="cardtemplate-item project-progressbar progress">
                    @if (Progress <= 25)
                    {
                        <div class="progress-bar bg-success" role="progressbar" style="width: @ProgressStr" aria-valuenow="@Progress" aria-valuemin="0" aria-valuemax="100"></div>
                    }
                    else if (Progress <= 50)
                    {
                        <div class="progress-bar bg-info" role="progressbar" style="width: @ProgressStr" aria-valuenow="@Progress" aria-valuemin="0" aria-valuemax="100"></div>
                    }
                    else if (Progress <= 75)
                    {
                        <div class="progress-bar bg-warning" role="progressbar" style="width: @ProgressStr" aria-valuenow="@Progress" aria-valuemin="0" aria-valuemax="100"></div>
                    }
                    else
                    {
                        <div class="progress-bar bg-danger" role="progressbar" style="width: @ProgressStr" aria-valuenow="@Progress" aria-valuemin="0" aria-valuemax="100"></div>
                    }
                </div>
                <div class="cardtemplate-item project-progressnumber d-flex justify-content-between">
                    <div class="project-progressnumber-item amount d-flex">
                        <div class="amount-item money">
                            <p>
                                @StringFormat5.addComma((int)Model.FundingAmount)
                            </p>
                        </div>
                        <div class="amount-item">

                        </div>
                        <div class="amount-item percent">
                            <p>
                                @StringFormat5.StringFormat(num.ToString() + "%")
                            </p>
                        </div>
                    </div>
                    <div class="project-progressnumber-item countdown">
                        <div class="countdown-item dayorhour">
                            <p>還剩@(dateLine.ToString())天</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}


@section endJS{

    <script>

    </script>
}












