@model Project

@{
    decimal num = (Model.NowMoney / Model.GoalMoney) * 100;
    string imgPath = ConfigurationManager.AppSettings["imgPath"];
}

<div class="col-sm-12 col-md-6 col-lg-4">
    <a href="#" class="menu-project">
        <div class="menu-project-pic">
            <img src="~/@(imgPath+Model.MainImage)">
        </div>
        <div class="menu-project-text">
            <div class="menu-project-text-tag">
                <span>Design</span>
                @StringFormat5.Judgement(Model.GoalMoney, Model.NowMoney)
            </div>
            <h2>
                @Model.Title
            </h2>
            <p>cheerdots TW</p>
            <div class="menu-project-text-percent">
                <div class="menu-project-text-percent-line">
                </div>
                <div class="menu-project-text-percent-goal">
                    <div class="menu-project-text-percent-goal-group">
                        <span class="goal-money">
                            @Model.NowMoney 元
                        </span>
                        <span class="goal-percent">
                            @StringFormat5.StringFormat(num.ToString())
                        </span>
                    </div>
                    <span class="dateline">
                        @StringFormat5.CountDown(Model.D_DateTime)
                    </span>
                </div>
            </div>
        </div>
</div>
