@model MemberViewModel

@{
    var vm = (MemberViewModel)Session["Member"];
}


<div class="wrap-inside">
    @if (vm == null)
    {
        Html.ActionLink("登入", "Login", "Member");
    }
    else if (vm != null)
    {
        //<form method="post" action="" accept-charset="UTF-8">
        <div id="user-profile" class="container">
            <div class="form-group row">
                <!-- 左欄 -->
                <div class="left col-12 col-md-6">
                    <div id="upload-img">
                        <!-- 這裡是複製的 -->
                        <div class="flyingUpload">
                            <svg width="93" height="93" class="transpCircle">
                                <mask id="mask">
                                    <rect fill="white" width="100%" height="100%" />
                                    <circle cx="46.5" cy="46.5" r="45.5" stroke="black" stroke-width="2" />
                                </mask>
                                <rect mask="url(#mask)" fill="rgba(0, 0, 0, 0.5)" width="100%" height="100%" />
                            </svg>
                            <img src="@vm.ProfileImgUrl" alt="@vm.MemberName"
                                 class="avatar" style="width: 93px;" id="imgshow">
                            <span class="image-hinter">
                                <strong>上傳圖片</strong><br>
                                <span class="grey">2MB 以內的 JPEG, PNG, GIF 或 BMP</span>
                            </span>
                            <input class="upload" id="uploadimg" accept="image/*" name="avatar" type="file">
                            <div id="imgurl" hidden="hidden"></div>
                        </div>
                    </div>
                    <div id="memberid" hidden="hidden">@vm.MemberId</div>

                    <div id="register-email" class="form-group">
                        <label for="inputEmail">註冊信箱</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="@vm.MemberRegEmail" readonly>
                        <p class="small-hint">此為您的 flyingV 系統登入帳號。</p>
                    </div>
                    <div id="contact-email" class="form-group">
                        <label for="inputEmail">聯絡信箱</label>
                        <input type="email" class="form-control" required id="contactEmail" value="@vm.MemberConEmail" name="MemberConEmail">
                    </div>

                    <div id="gender" class="form-group">
                        <label for="gender">性別</label>
                        <select class="form-control" id="gender1" name="Gender">
                            <option>請選擇性別</option>
                            <option>男性</option>
                            <option>女性</option>
                            <option>其他</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="birthday">生日</label>
                        <input type="datetime" class="form-control" id="birthday1" value="@vm.MemberBirth" name="MemberBirth">
                    </div>


                </div>
                <!-- 右欄 -->
                <div class="right col-12 col-md-6">
                    <div id="about-me" class="form-group">
                        <label for="about" class="colored-label">關於我</label>
                        <textarea class="form-control" id="about" rows="5" cols="50" placeholder="300字以內簡介" name="AboutMe">@vm.AboutMe</textarea>
                    </div>
                    <div id="name" class="form-group">
                        <label for="name">顯示名稱</label>
                        <input type="text" class="form-control" id="name1" value="@vm.MemberName" name="MemberName">
                    </div>
                    <div id="personal-site" class="form-group">
                        <label for="personal-site">個人網站</label>
                        <input type="url" class="form-control" id="personal-site" value="@vm.MemberWebsite" name="MemberWebsite">
                    </div>

                </div>
            </div>
            <hr>
            @*<input type="submit" value="儲存" class="btn btn-primary"/>*@
            <button id="btnSub" class="btn btn-primary">儲存</button>
            <button id="btn-black" class="btn btn-primary">查看檔案頁</button>
            @*@Html.ActionLink("會員資料", "Index", "PersonInfo")*@
        </div>
        //</form>
    }
    @*表單提交區域!!!*@
</div>


@section endJs{

    <script src="~/Assets/Javascript/PersonalInfo/PersonInfo.js"></script>

}