@model CommentForMemberViewModel
@{
    var vm = (MemberViewModel)Session["Member"];
}

<div class="col-sm-12 col-md-6 col-lg-4 message-block" data-index="@Model.ProjectName@Model.ReadStatus">
    <div class="project-anydetail">
        <div class="project-main-url">
            <img class="main-url" src="@Model.ProjectMainUrl" />
        </div>
        <div class="project-title">

            @if (Model.ReadStatus == false)
            {
                <strong class="message-member reply-status badge bg-warning text-dark no-reply" style="display:block;">未回覆</strong>
            }
            else
            {
                <strong class="message-member badge bg-success has-reply" style="display:block;">已回覆</strong>
            }
            <p style="color:red;height:100px;overflow-y: hidden;font-size:15px">@Model.ProjectName</p>
        </div>
        <div style="width:100%;text-align:center;">留言時間：@Model.Comment_Time</div>

        <div class="message-content">
            <p class="mymessages">@Model.Comment_Question</p>
        </div>

    </div>
    @if (Model.Comment_Answer == null && Model.AskMemberId == vm.MemberId)
    {
        <div class="text" style="text-align:center">
            <h4>該留言尚未回覆</h4>
        </div>
    }
    else if (Model.Comment_Answer == null && Model.AskedMemberId == vm.MemberId)
    {
        <div>
            <strong class="message-member">回覆者:@Model.AskedMemberName</strong>

            <textarea class="reply-area LanchCommentAnswer" placeholder="請於此處回覆"></textarea>
        </div>
        <button class="btn btn-success" onclick="LanchCommentAnswerAjax(@Model.CommentId)">回覆</button>
    }
    else if (Model.Comment_Answer != null && Model.AskMemberId == vm.MemberId)
    {
        <div>
            <strong class="message-member">回覆者:@Model.AskedMemberName</strong>

            <p class="mymessages" style="overflow-y: hidden;">@Model.Comment_Answer</p>
        </div>

    }
    else
    {
        <div>
            <textarea class="reply-area LanchCommentAnswer">@Model.Comment_Answer</textarea>
        </div>
        <button class="btn btn-success" onclick="LanchCommentAnswerAjax(@Model.CommentId)">回覆</button>

    }

</div>
