@model ProjectTeamFour.ViewModels.ForMemberView.SubmissionProcessPlanViewModel    
  
<div class="col-12 col-sm-6 col-lg-4 mb-4" id="app">
    <div class="product-item">
        <a class="product-item-pic" href="~/CarCarPlan/Detail/@Model.PlanId">
            <img src="@Model.PlanImgUrl" alt="方案圖片" class="pic">
        </a>
        <div class="product-item-text" style="text-align:center;font-size:20px">
            <h3>@Model.PlanTitle</h3>
        </div>
        <div class="product-item-text" style="padding:5px;text-align:center;font-size:20px" >
            <h3>贊助人數:@(Model.PlanFundedPeople.ToString())</h3>
        </div>
        <div class="product-item-text" style="padding:5px;text-align:center;font-size:20px" >
            <h3>預估寄送時間:@Model.PlanShipDate </h3>
        </div>
        <div class="product-item-text" style="padding:5px;text-align:center;font-size:20px">
            <h3>庫存:@(Model.QuantityLimit.ToString())件</h3>
        </div>
        <div class="product-item-text" style="padding:5px;text-align:center;font-size:20px">
            <h3>贊助金額:@StringFormat5.addComma((int)(Model.PlanPrice))</h3>
        </div>
        <div class="product-item-qty" style="justify-content: center;">
            <input type="number" value="0" id="@(Model.PlanId)planNumber" />
            @*<span id="@(Model.PlanId)SubmitLimitErrorMsg"></span>*@
            <button type="button" class="btn btn-primary" v-on:click="submitData(@Model.PlanId)">提交</button>
        </div>
    </div>
</div>



