@model MemberViewModel
@{
    var vm = (MemberViewModel)Session["Member"];
    @*只挑選已付款的訂單*@
    var orderList = Model.Records.MyOrderDetailList.Where(o => o.condition == "已付款" && o.Plan.AddCarCarPlan == true);
}

<div class="container">
    <div class="case-title">
        <h2>購買過的專案</h2>
    </div>
    <div class="row mt-4">
        @if (Model.Records != null)
        {
            foreach (var item in orderList)
            {
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <div class="product-item">
                        <a class="product-item-pic" href="~/CarCarPlan/Detail/@item.PlanId">
                            <img src="@item.OrderPlanImgUrl" alt="方案圖片" class="pic">
                        </a>
                        <div class="product-item-text">
                            <h3>@item.PlanTitle</h3>
                            <div><span>@(item.OrderQuantity.ToString())件:</span><span>共@(item.OrderPrice* item.OrderQuantity) NTD</span></div>
                        </div>
                        <div class="product-item-qty">
                            <span>庫存:</span>
                            <input type="text" data-planid="@item.PlanId" value="@item.Plan.SubmitLimit" />
                            <button type="button" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>目前無購買方案</p>
        }
    </div>
</div>