@*@{
        var vm = (MemberViewModel)Session["Member"];
    }*@
@model MemberViewModel

@section topCSS{
    <link href="~/Assets/Css/setting.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/personal.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/rwd-personal.css" rel="stylesheet" />
}


<section class=person>
    <div class="wrap-inside">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="person-data">
                    <div class="person-data-pic">
                        <img src="@Model.ProfileImgUrl" alt="個人圖片">
                    </div>
                    <div class="person-data-text">
                        <h2>@Model.MemberName</h2>
                        <p>
                            @*贊助過 
                            <span>@Model.ProjectRecords.Count</span>件專案*@
                            <br />發起過
                            @*<span>@Model.MyProjects.Count</span>件專案*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-some">
    <div class="wrap-inside">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="about-case">
                    <h2>贊助過的專案</h2>
                    @if (Model.Records != null)
                    {
                        @Html.Partial("~/Views/Shared/PartialView/_cardForMember.cshtml", Model.Records)
                    }
                    else
                    {
                        <p>目前還沒有贊助過任何專案</p>
                    }
                </div>

                @*@{
                        foreach(var item in Model.)
                        {

                        };
                    }*@
            </div>
        </div>
    </div>
</section>