
@{
    var vm = (MemberViewModel)Session["Member"];
}

@model MemberViewModel

@section topCSS{
    <link href="~/Assets/Css/setting.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/personal.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/rwd-personal.css" rel="stylesheet" />
}


<section class=person>
    <div class="wrap-inside">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="person-data">
                    <div class="person-data-pic">
                        @if (Model.ProfileImgUrl == null)
                        {
                            <img src="~/Assets/Img/member.png" alt="註冊" />
                        }
                        else
                        {
                            <img src="@Model.ProfileImgUrl" alt="個人圖片" style="border-radius:50%;">
                        }
                    </div>
                    <div class="person-data-info">
                        <p>@Model.AboutMe</p>
                    </div>
                    <div class="person-data-text">
                        <h2>@Model.MemberName</h2>
                        <p>
                            購買過
                            <span>@Model.Records.MyOrderDetailList.Where(x => x.condition == "已付款").Count()件專案</span> 
                            <br />發起過
                            @if (@Model.MyProjects.Count == null)
                            {
                                <span>0件專案</span>
                            }
                            else
                            {
                                <span>@Model.MyProjects.Count 件專案</span>
                            }
                            
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-some">
    <div class="wrap-inside">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="about-case">
                    <h2>購買過的專案</h2>
                    <div class="card_part">
                        @*只挑選已付款的訂單*@
                        @if (Model.Records != null)
                        {
                            foreach (var i in Model.Records.MyOrderDetailList)
                            {
                                if (i.condition == "已付款")
                                {
                                    @Html.Partial("~/Views/Shared/PartialView/_cardForMember.cshtml", i)
                                }
                                else
                                {
                                    <p></p>
                                }
                            }
                        }
                        else
                        {
                            <p>目前無購買方案</p>
                        }
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</section>