@model CartItemListViewModel
@{
    ViewBag.Title = "ShoppingCart";
    string modelJS =string.Empty;
    if (Model != null)
    {

        modelJS= Json.Encode(Model.CartItems);
    }


}
@section topCSS{
    <link href="~/Assets/Css/ShoppingCartPage/ShoppingCart.css" rel="stylesheet" />
}
@section endJS{
    @if (Model != null)
    {


        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    Model:@Html.Raw(modelJS)
                }
                
            })
            var x = 100;
        </script>
    }
    
    <script>





        let remove = document.querySelector("#remove");
        let forseller = document.querySelector(".for-seller");
        let cartout = document.querySelector(".cart-out");
        let noresult = document.querySelector(".no-result");
        let shopitems = document.querySelector(".shop-items");
        let qtyArray = document.querySelectorAll(".qty");
        let valuesArray = [];
        let cartSpecialInstructions = document.querySelector("#cartSpecialInstructions");

        if (shopitems.innerText == "" )
        {
            NewDiv = document.createElement("div");
            NewP = document.createElement("p");
            NewDiv.appendChild(NewP);
            shopitems.appendChild(NewDiv);
            NewDiv.setAttribute("style", "text-align:center;font-size:3rem");

            NewP.innerText = "購物車無任何商品";
            forseller.setAttribute("style", "display:none");
            cartout.setAttribute("style", "display:none");
        }
        else if (noresult.innerText == "購物車無任何商品")
        {
            forseller.setAttribute("style", "display:none");
            cartout.setAttribute("style", "display:none");
        }

        else {
            forseller.setAttribute("style", "display:block");
            cartout.setAttribute("style", "display:block");
        }

        //移除購物清單
        function RemoveFromCart(PlanId) {
            LanchRemoveAlert(PlanId);

        }

        function LanchRemoveAlert(PlanId) {
            Swal.fire({
                title: '您確定刪除此項商品?',
                text: "此項商品即將被移除!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '刪除!',
                cancelButtonText:"取消!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        '刪除!',
                        '此項商品已被刪除。',
                        'success'
                     );
                    LanchRemoveAjax(PlanId);
                }
            })
        }

        function LanchRemoveAjax(PlanId) {
             $.ajax({
                            type: "POST",
                            url: '@Url.Action("RemoveCartItem","ShoppingCart")',
                            data: { PlanId: PlanId },
                            success: function (response)
                            {
                                window.setTimeout(reloading, 1000);

                            }
                                });
        }

        function reloading() {
            window.location.assign(window.location.href);
        }



        function ClearCart() {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: '您確定清空購物車嗎?',
                text: "購物車即將被清空!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '清空購物車!',
                cancelButtonText: '取消動作!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        '已清空!',
                        '您的購物車已清空。',
                        'success'
                    );
                    ClearAjax();
                }
                else if
                    (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        '取消動作',
                        '您的購物車已保留!',
                        'error'
                    )
                }
            })
        }

        function ClearAjax() {
             $.ajax({
                type: "POST",
                url: '@Url.Action("ClearCartItem", "ShoppingCart")',
                data: {},
                success: function (response) {
                    window.setTimeout(reloading, 1000);
                }

            });
        }


        function PrepareToCheckout() {

            valuesArray = NodeListPushToArray(qtyArray, valuesArray);
            LanchArrayAjax(valuesArray, cartSpecialInstructions.value);
        }

        function NodeListPushToArray(NodeList, ValueArray) {
            NodeList.forEach(element => {
                if (element.value == "") {
                    element.value = "1";
                    ValueArray.push(element.value);

                }
                else {
                    ValueArray.push(element.value);
                }
            });
            return ValueArray;
        }


        function LanchArrayAjax(ValueArray, clientComment) {
            console.log(clientComment);
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCheckoutQuantity", "ShoppingCart")',
                dataType: "json",

                data: { Quantity: ValueArray, Comment: clientComment},

                success: function (response) {
                    console.log("123");
                }
            })
        }

    </script>
}
<div id="app">

    <section class="shopping-cart">
        <div class="container">
            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-6 main-title">
                    <div class="sticky">
                        <h1>Shopping Cart</h1>
                    </div>

                </div>


                <div class="shop-items col-lg-6">
                    
                        @if (Model != null)
                        {
                            foreach (var item in Model.CartItems)
                            {
                                @Html.Partial("~/Views/Shared/PartialView/_cartItemPartial.cshtml", item);
                            }


                        }

                        else
                        {
                            <div class="no-result">

                                <p>購物車無任何商品</p>

                            </div>
                        }




                    
                </div>
                    <div class="col-lg-6"></div>
                    <div class="col-sm-12 col-lg-6 for-seller">
                        <textarea name="note" id="cartSpecialInstructions" placeholder="Special instructions for seller"
                                  aria-label="Special instructions for seller"></textarea>
                    </div>
                </div>
        </div>
    </section>
    <section class="cart-out">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-sm-12 col-lg-6">
                    <p class="total" id="CartTotal">
                        Total:
                        @if (@Model == null)
                        {
                            <span>0</span>
                        }
                        else
                        {
                    <span>0</span>
                        }
                    </p>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-sm-12 buttons-group col-lg-6">

                    <a href='@Url.Action("PrepareToCheckout","ShoppingCart")'>
                        <input type="submit" name="checkout" value="結  帳" class="checkout" onclick="PrepareToCheckout()">
                    </a>

                    <button name="clearcart" class="button outline less-padding clearcart" onclick=" ClearCart()" aria-label="clear cart">
                        <p>清空購物車</p>
                    </button>

                </div>
            </div>
        </div>
    </section>
</div>
<section class="wish-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wish-title">
                    <P>
                        Wish List Projects
                    </P>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="/ProductDetail/Index">
                        <img src="~/Assets/Img/ShoppingCart/projecttest1.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="/ProductDetail/Index"> <span class="title">Food Planner</span> <span class="price">$28.00 USD <span>起</span> </span> </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="/ProductDetail/Index">
                        <img src="~/Assets/Img/ShoppingCart/projecttest2.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="/ProductDetail/Index">
                        <span class="title">
                            Bento Box in Elements Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Rem vitae libero dolorem atque illum minus rerum cumque sint beatae
                            ratione distinctio, porro harum! Impedit, necessitatibus quaerat optio sed deserunt
                            vel?
                        </span>
                        <span class="price">$28.00 USD<span>起</span> </span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="/ProductDetail/Index">
                        <img src="~/Assets/Img/ShoppingCart/projecttest3.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="/ProductDetail/Index"> <span class="title">Food Planner</span> <span class="price">$28.00 USD<span>起</span> </span> </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="/ProductDetail/Index">
                        <img src="~/Assets/Img/ShoppingCart/projecttest4.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="/ProductDetail/Index"> <span class="title">Food Planner</span> <span class="price">$28.00 USD<span>起</span> </span> </a>
                </div>
            </div>
        </div>


    </div>

</section>


