@{ 
    MemberViewModel vm = Session["member"]==null ? null : (MemberViewModel)Session["Member"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funding BuBu - 集資車車</title>


    @Styles.Render("~/Assets/css")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    @*這是首頁除了Header和Footer之外的CSS*@

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

</head>
<body>

    @*Header*@
    @Html.Partial("~/Views/Shared/PartialView/_headerPartial.cshtml")

    @*RenderBody塞大家各自的頁面*@
    @RenderBody()

    <footer>
        @*Footer*@
       @Html.Partial("~/Views/Shared/PartialView/_footerPartial.cshtml")
    </footer>

    @*sweetalert2套件*@
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)

</body>
</html>
