@{ 
    int count = 0;
    MemberViewModel vm = Session["member"]==null ? null : (MemberViewModel)Session["Member"];
    CartItemListViewModel cartList = (CartItemListViewModel)Session["Cart"];
    if (cartList != null)
    {
        count = cartList.CartItems.Count;
    }
    else
    {
        count = 0;
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funding BuBu - 集資車車</title>


    @*@Styles.Render("~/Assets/css")*@
    <link rel="stylesheet" href="~/Assets/Plugin/FontAwesome/fontawesome-free-5.15.2-web/css/all.min.css" />
    <link rel="stylesheet" href="~/Assets/HeaderFooterLayout/headerfooter.css" />
    <link rel="stylesheet" href="~/Assets/Plugin/Bootstrap/bootstrap_cdn4.6.0.min.css" />
    <link rel="stylesheet" href="~/Assets/Plugin/Normalize.css/normalize.css" />
    <link rel="stylesheet" href="~/Assets/Plugin/Slick/slick_cdn1.8.1.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    @*這是首頁除了Header和Footer之外的CSS*@

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

</head>
<body>

    @*Header*@
    @Html.Partial("~/Views/Shared/PartialView/_headerPartial.cshtml")

    @*RenderBody塞大家各自的頁面*@
    @RenderBody()

    <footer>
        @*Footer*@
       @Html.Partial("~/Views/Shared/PartialView/_footerPartial.cshtml")
    </footer>

    @*sweetalert2套件*@
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)

</body>
</html>
