
@model ProjectTeamFour.ViewModels.ProjectListViewModel
@{string category = (string)ViewData["category"];
    string status = (string)ViewData["status"];
    string id = (string)ViewData["id"];
}

@{
    ViewBag.Title = "products page";
}


@section topCSS{
    <link href="~/Assets/Css/HomePage/homepage.css" rel="stylesheet" />
    <link href="~/Assets/Css/ProductsPage/products.css" rel="stylesheet" />
    <link href="~/Assets/Css/ProductsPage/rwd-products.css" rel="stylesheet" />
}
@section endJS{
    <script src="~/Assets/Javascript/Products_Page/Products.js"></script>
}
<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="category-group" name="category">
                    <a class="category-group-item" id="tech" name="category">
                        <div class="content"><i class="far fa-lightbulb"></i></div>
                        <div class="category-group-item-title">科技設計</div>
                    </a>
                    <a class="category-group-item" id="music" name="category">
                        <div class="content"><i class="fas fa-music"></i></div>
                        <div class="category-group-item-title">音樂</div>
                    </a>
                    <a id="art" class="category-group-item">
                        <div class="content"><i class="fas fa-palette"></i></div>
                        <div class="category-group-item-title">藝術影視</div>
                    </a>
                    <a id="life" class="category-group-item">
                        <div class="content"><i class="fas fa-walking"></i></div>
                        <div class="category-group-item-title">生活</div>
                    </a>
                    <a id="local" class="category-group-item">
                        <div class="content"><i class="fas fa-house-damage"></i></div>
                        <div class="category-group-item-title">公共在地</div>
                    </a>
                    <a id="game" class="category-group-item">
                        <div class="content"><i class="fas fa-gamepad"></i></div>
                        <div class="category-group-item-title">遊戲出版</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="menu-dropdown-group">
                    <div class="menu-dropdown-group-filter">
                        <div class="dropdown">
                            <label for="dropdownMenuButton" class="menu-btn">Project Status</label>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                全部
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu">
                                <a class="dropdown-item" id="ongoing">進行中</a>
                                <a class="dropdown-item" id="success">成功專案</a>
                                <a class="dropdown-item" href="/Projects/Main" id="all">全部專案</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-dropdown-group-sort">
                        <div class="dropdown">
                            <label for="dropdownMenuButton-2" class="menu-btn">Sort by</label>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                熱門
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="orderByItem">
                                <a href="Projects/OrderByPeople/Fundedpeople" class="dropdown-item" id="hot">熱門</a>
                                <a class="dropdown-item" id="new">最新</a>
                                <a class="dropdown-item" id="money">募資金額</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="popular-project">
    <div class="container">
        <div class="popular-project-item cardtemplate-section">
            <div class="row">
                @for (int i = 0; i < 12; i++)
                {
                    @Html.Partial("~/Views/Shared/PartialView/_ProjectCardPartial.cshtml", Model.ProjectItems[i]);
                }
            </div>
        </div>
    </div>
</section>
<div class="col-sm-12">
    <button class="btn-more" id="btn-more">Load More</button>
</div>

<div class="ForCategory">
    <p id="category">@category</p>
    <p id="status">@status</p>
    <p id="id">@id</p>
    <p class="url1">科技設計</p>
    <p class="url1">音樂</p>
    <p class="url1">藝術影視</p>
    <p class="url1">生活</p>
    <p class="url1">公共在地</p>
    <p class="url1">遊戲出版</p>
    <p id="url2">全部專案</p>
    <p id="url3">熱門</p>
</div>


@*<template>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 card">
        <div class="cardtemplate-section-item cardtemplate">
            <a href="/ProjectDetail/Index/@Model.ProjectId">
                <div class="cardtemplate-item project-picture">
                    <img class="w-100" src=@Model.ProjectMainUrl>
                </div>
                <div class="cardtemplate-item d-flex tag">
                    <div class="tag-item categories">
                        <p>@Model.Category</p>
                    </div>
                    <div class="tag-item status">
                        <p>@Model.ProjectStatus</p>
                    </div>
                </div>
                <div class="cardtemplate-item project-name">
                    <h3>@Model.ProjectName</h3>
                </div>
                <div class="cardtemplate-item project-team">
                    <p>@Model.CreatorName</p>
                </div>
                <div class="cardtemplate-item project-progressbar">
                    <div class="project-progressbar-item"></div>
                </div>
                <div class="cardtemplate-item project-progressnumber d-flex justify-content-between">
                    <div class="project-progressnumber-item amount d-flex">
                        <div class="amount-item money">
                            <p>
                                @StringFormat5.addComma((int)Model.FundingAmount)
                            </p>
                        </div>
                        <div class="amount-item">

                        </div>
                        <div class="amount-item percent">
                            <p>
                                @StringFormat5.StringFormat(num.ToString() + "%")
                            </p>
                        </div>
                    </div>
                    <div class="project-progressnumber-item countdown">
                        <div class="countdown-item dayorhour">
                            <p>還剩@(dateLine.ToString())天</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</template>*@
