@model IEnumerable<ProjectTeamFour.Models.ProfileSetting>

@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Assets/Css/setting.css" rel="stylesheet" />
}

<!-- 帳戶設定 -->
<!-- 個人資料 -->
<form action="">
    <div id="user-profile" class="container">
        <div class="form-group row">
            <!-- 左欄 -->
            <div class="left col-12 col-md-6">
                <div id="upload-img">
                    <!-- 這裡是複製的 -->
                    <div class="flyingUpload">
                        <svg width="93" height="93" class="transpCircle">
                            <mask id="mask">
                                <rect fill="white" width="100%" height="100%" />
                                <circle cx="46.5" cy="46.5" r="45.5" stroke="black" stroke-width="2" />
                            </mask>
                            <rect mask="url(#mask)" fill="rgba(0, 0, 0, 0.5)" width="100%" height="100%" />
                        </svg>
                        <img src="https://static.flyingv.asia/static/square/users/60129aa331255.jpg" alt="謝宜勳" class="avatar"
                             style="width: 93px;">
                        <span class="image-hinter">
                            <strong>上傳圖片</strong><br>
                            <span class="grey">2MB 以內的 JPEG, PNG, GIF 或 BMP</span>
                        </span>
                        <input class="upload" id="upload" accept="image/*" name="avatar" type="file">
                    </div>
                </div>
                <div id="register-email" class="form-group">
                    <label for="inputEmail">註冊信箱</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" readonly>
                    <p class="small-hint">此為您的 flyingV 系統登入帳號。</p>
                </div>
                <div id="contact-email" class="form-group">
                    <label for="inputEmail">聯絡信箱</label>
                    <input type="email" class="form-control" id="contactEmail" placeholder="[email]">
                </div>
                <div id="gender" class="form-group">
                    <label for="gender">性別</label>
                    <select class="form-control" id="gender">
                        <option>請選擇性別</option>
                        <option>男性</option>
                        <option>女性</option>
                        <option>其他</option>
                    </select>
                </div>

                <div id="birthday"></div>


            </div>
            <!-- 右欄 -->
            <div class="right col-12 col-md-6">
                <div id="about-me" class="form-group">
                    <label for="about" class="colored-label">
                        <p>關於我</p>
                    </label>
                    <input type="text" class="form-control" id="about" placeholder="300字以內簡介">
                </div>
                <div id="name" class="form-group">
                    <label for="name">顯示名稱</label>
                    <input type="text" class="form-control" id="name" placeholder="[name]">
                </div>
                <div id="personal-site" class="form-group">
                    <label for="personal-site">個人網站</label>
                    <input type="url" class="form-control" id="personal-site" placeholder="[webside]">
                </div>
                <div id="language-preference" class="form-group">
                    <label for="gender">語言偏好</label>
                    <select class="form-control" id="language">
                        <option>中文</option>
                        <option>英文</option>
                        <option>日文</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <button type="save" class="btn btn-primary">儲存</button>
        <button type="check" id="btn-black" class="btn btn-primary">查看檔案頁</button>
    </div>
</form>
<!-- 帳號管理 -->
<form action="">
    <div id="user-setting" class="container">
        <div class="form-group row">
            <div class="col-12 col-md-6">
                <blockquote class="colored-label">
                    <p>帳號管理</p>
                </blockquote>
                <div class="login-account form-group">
                    <label for="account">登入帳號</label>
                    <input type="text" class="form-control" id="account" placeholder="example@gmail.com" readonly>
                </div>
                <div class="reset-passward form-group">
                    <label for="inputPassword">更改密碼</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="請輸入舊密碼">
                </div>
                <button type="submit" class="btn btn-primary">更改密碼</button>
            </div>
            <div class="col-12 col-md-6">
                <!-- 社群綁定 -->
                <label for="linked-account" class="colored-label">
                    <p>社群綁定</p>
                </label>
            </div>
        </div>
        <hr>
        <button id="delete-account" class=" btn btn-secondary">刪除帳號</button>
    </div>
</form>
<form action="">
    <div id="notifaction-setting" class="container">
        <!-- 通知設定 -->
        <div class="form-group row">
            <div class="col-12 col-md-4">
                <blockquote class="colored-label">
                    <p>動態通知</p>
                </blockquote>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[notifications][project_success]" type="checkbox" value="1">
                        專案達標
                    </label>
                    <div class="hint small grey"> 跟您分享專案達標的喜悅</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[notifications][project_update]" type="checkbox" value="1">
                        專案內容更新
                    </label>

                    <div class="hint small grey"> 及時掌握提案團隊更新的內容</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[notifications][project_countdown]" type="checkbox" value="1">
                        專案結束倒數
                    </label>

                    <div class="hint small grey"> 專案結束前的溫情提醒</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[notifications][follower_donate]" type="checkbox" value="1">
                        社群贊助通知
                    </label>

                    <div class="hint small grey"> 社群好友贊助專案時發送的通知</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[notifications][project_reply]" type="checkbox" value="1">
                        提案者回覆留言
                    </label>

                    <div class="hint small grey"> 秒讀提案團隊回應內容</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[notifications][system_event]" type="checkbox" value="1">
                        平台重大活動通知
                    </label>

                    <div class="hint small grey"> 所有我們想邀請您一起參與的美好事物</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[notifications][system_statement]" type="checkbox" value="1">
                        平台全站聲明
                    </label>

                    <div class="hint small grey"> 您最重要的用戶權益</div>
                    <hr>
                </div>
            </div>
            <div class=" col-12 col-md-4">
                <blockquote class="colored-label">
                    <p>平台系統通知信</p>
                </blockquote>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[emails][project_post]" type="checkbox" value="1">
                        專案進度更新
                    </label>

                    <div class="hint small grey"> 已贊助專案發送進度報告的通知信件</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[emails][follower_donate]" type="checkbox" value="1">
                        社群贊助通知
                    </label>

                    <div class="hint small grey"> 社群好友贊助專案時發送的通知信件</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[emails][weekly]" type="checkbox" value="1">
                        每週精選專案
                    </label>

                    <div class="hint small grey"> flyingV 為您精心挑選的好案介紹</div>
                    <hr>
                </div>

            </div>
            <div class=" col-12 col-md-4">
                <blockquote class="colored-label">
                    <p>提案者系統通知信</p>
                </blockquote>

                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[creator][backers]" type="checkbox" value="1">
                        專案新贊助通知
                    </label>

                    <div class="hint small grey"> 有新贊助者便會寄信給您</div>
                    <hr>
                </div>
                <div class="checkbox notiLine">
                    <label>
                        <input checked="checked" name="setting[creator][comments]" type="checkbox" value="1">
                        專案新留言通知
                    </label>

                    <div class="hint small grey"> 專案有新的留言便會寄信給您</div>
                    <hr>
                </div>

            </div>
        </div>
        <button id="delete-account" class="btn btn-primary">儲存設定</button>
    </div>
    </div>

</form>




@*
        <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Passward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutMe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notifactions)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Passward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutMe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notifactions)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
