@model ProjectTeamFour.ViewModels.MemberViewModel

@{

    MemberViewModel vm = Session["member"] == null ? null : (MemberViewModel)Session["Member"];
    ViewBag.Title = "帳戶設定-個人資料";
}

@section topCSS{
    <link href="~/Assets/Css/Person_insPage/personal.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/rwd-personal.css" rel="stylesheet" />
}

<div class="banner">
    <div class="wrap">
        <ul class="nav nav-pills mb-12" id="pills-tab" role="tablist">
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">個人資料</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">贊助紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">提案紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-selected="false">聯絡訊息</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">最新通知</a>
            </li>
            <li class="nav-item-tag" role="presentation" id="personinfo">
                <a class="nav-links" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="false">個人資料</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false">帳號管理</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-setting-tab" data-toggle="pill" href="#pills-setting" role="tab" aria-controls="pills-setting" aria-selected="false">通知設定</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="wrap-inside">
                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_usersPartial.cshtml")
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <section class="record">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_backingRecordsPartial.cshtml")
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <section class="case">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml")
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
                <div class="message">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_messagePartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                <div class="news">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_activityPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">
                <div class="edit">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_editPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                <div class="account">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_resetPasswordPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
                <div class="setting">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_notifactionPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@if (vm != null)
    {
        <p>@vm.MemberRegEmail</p>
    }*@

@section endJs{

    <script src="~/Assets/Javascript/PersonalInfo/PersonInfo.js"></script>
    <script>

//import { json } from "modernizr";

//        $(document).ready(function () {
//            //$.ajax("xxx/XXX/getPersonalInfo", { id:})
//            $.ajax({
//                url: "/PersonInfo/Index",
//                method: "GET",
//                dataType: "json",
//                data: memberArray,

//                success: function (res) { console.log(res) },
//                error: function (err) { console.log(err) },

//            });

//        });

//        window.onload = getMemberInfoJSON();
//        let memberArray = [];
//        function getMemberInfoJSON() {
//            let xhr = new XMLHttpRequest();
//            xhr.onload = function () {
//                memberArray = JSON.parse(this.responseText);

//            };
//            xhr.open(
//                "GET", "/PersonInfo/Index"
//            );
//            xhr.send();
//        }
                        //const app = new Vue({
                        //    el: '#app',
                        //    data() {
                        //        return {
                        //            formObj: {
                        //                contry: '',
                        //                province: '',
                        //                city: '',
                        //                area: '',
                        //                detail: '',
                        //                phone: '',
                        //                number: ''
                        //            }
                        //        }
                        //    },
                        //    methods: {
                        //        onSubmit(event) {
                        //            event.preventDefault();
                        //            let formData = JSON.stringify(this.formObj);
                        //            console.log(formData);
                        //            this.$http.post('', formData).then(function (res) {
                        //                if (res.status === 2000) {

                        //                }
                        //                else {

                        //                }
                        //            });
                        //        },
                        //}

                        //})

                        //export default {
                        //    data: {
                        //        return {
                        //            student: {
                        //                userName: "",
                        //                gender: ""
                        //            }
                        //        }
                        //    },
                        //    methods: {
                        //        submit() {

                        //            var formData = JSON.stringify(this.student); // this指向这个VUE实例 data默认绑定在实例下的。所以直接this.student就是要提交的数据
                        //            this.$http.post('', formData).then(function (data) {
                        //                if (data.json().state == "success")
                        //                    console.log("success");
                        //            }
                        //    }).catch(function () {
                        //                console.log("服务器异常！");
                        //            });

                        //    }

                        //}
                        //}
    </script>
}