@model ProjectTeamFour.ViewModels.ProjectTotalViewModel
@{
    int num = Convert.ToInt32(Model.ProjectDetailItem.FundingAmount / Model.ProjectDetailItem.AmountThreshold) * 100;
    DateTime today = DateTime.Now;
    int dateLine = Convert.ToInt32(new TimeSpan(Model.ProjectDetailItem.EndDate.Ticks - today.Ticks).TotalDays);
}
<section class="main-body">
    <div id="project-title" class="container">
        <span class="badge badge-secondary">@Model.ProjectDetailItem.Category</span>
        <h1>@Model.ProjectDetailItem.ProjectName</h1>
    </div>
    <!-- 本文 -->
    <section class="info-top">
        <div id="campaign-maininfo" class="container">
            <!-- 手機是置中的carousel，在桌機是左欄 -->
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <!-- 影片/圖片部分 -->
                    <div id="intro-video-wrap" class="items">
                        <iframe scrolling="no" src="@Model.ProjectDetailItem.ProjectVideoUrl" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media;" allowfullscreen>
                            主要介紹影片
                        </iframe>
                    </div>
                    <div id="campaign-summary" class="">
                        <p>@Model.ProjectDetailItem.ProjectName</p>
                        <div id="campaign-progress " class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="@num" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div id="creator-info" class="item-wrap">
                        <div class="row">
                            <div class="item-logo">
                                @*<a href="#" data-target="" data-toggle="modal">
                                    <img src="https://static.flyingv.asia/static/square/users/5c126a0e32b49.png" alt="" srcset="">
                                </a>*@
                            </div>
                            <div class="item-text">
                                <h5>                             
                                    <span class="label-grey">提案者</span> @Model.ProjectDetailItem.CreatorName  
                                </h5>
                                <div class="wrapper">
                                    <div class="item-text">
                                        <h5>
                                            <span class="label-grey">提案總數</span>@Model.ProjectDetailItem.ProjectPlansCount
                                        </h5>
                                    </div>
                                    <div id="follow-icon">
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="display-sm">

                </div>

                <div id="campaign-abount" class="col-sm-12 col-md-4">
                    <div id="info-text-wrap">
                        <!-- 文字說明 -->

                        <div id="campaign-info-item">
                            <span class="badge badge-secondary">@Model.ProjectDetailItem.ProjectStatus</span>
                            <div id="donating-amount" class="number-row">
                                <span class="label-grey">目標 @Model.ProjectDetailItem.AmountThreshold.ToString("C2")</span>
                                <h2>$@Model.ProjectDetailItem.FundingAmount.ToString("###,###")</h2>
                            </div>
                            <hr class="display-sm">
                            <div id="donating-people-count" class="number-row">
                                <span class="label-grey">贊助人數</span>
                                <h2 class="block">@Model.ProjectDetailItem.Fundedpeople 人</h2>
                            </div>
                            <div id="donating-days-countdown" class="number-row">
                                <span class="label-grey">募資倒數</span>
                                <h2 class="block">@(dateLine.ToString())天</h2>
                            </div>
                        </div>
                        <blockquote id="campaign-status-label">
                            <div class="text-wrap">
                                專案募資成功！
                                <br>在 @Model.ProjectDetailItem.EndDate
                                募資結束前，您都可以持續贊助此計畫。
                            </div>
                        </blockquote>
                        <!-- 手機的按鈕會變成fixed在body的bottom -->
                        <div id="backing-section" class="wrapper">
                            <div class="row">
                                <div class="btn col-12">
                                    <a href="" id="backit-btn">贊助專案</a>
                                    <!--轉接到加入購物車-->
                                </div>
                                <div class="btn col-8">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn" id="ask-btn" data-toggle="modal" data-target="#messageModal">
                                        <span class="comment"><i class="fab fa-comment-dots">留言</i></span>聯絡提案人
                                    </button>
                                </div>
                                <!-- Modal -->

                                <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="Message" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <!-- <h5 class="modal-title" id="Message">Modal title</h5> -->
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>

                                                <!-- Modal -->
                                                <div class="container-fluid">
                                                    <div class="modal-dialog modal-lg" id="ask-modal">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12">
                                                                <h4>村岸產業株式会社</h4>
                                                                <p>提案負責人：TW ROTUNDA</p>
                                                                <i class="fab fa-facebook-official"></i><a href=""></a>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <p>
                                                                    大家好，我們是村岸產業株式会社，自 1929 年於大阪創立以來，持續銷售化妝刷具與美妝用品。 熊野筆「 柔軟且親膚、細緻卻強韌
                                                                    」的特性，不僅適合臉部妝容，更能用於全身清潔，我們希望將「熊野筆」的優點，更廣泛.......
                                                                </p>
                                                                <a href="https://www.flyingv.cc/users/762305">瀏覽全部</a>
                                                            </div>
                                                        </div>

                                                        <hr />
                                                        <label for="message-area" class="form-label">傳訊息給 村岸產業株式会社 </label>
                                                        <form action="">
                                                            <textarea class="form-control" rows="10" id="msg-content" placeholder="傳送訊息..."></textarea>
                                                            <br />
                                                            <button type="button" class="btn" id="send-msg">
                                                                傳送訊息
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>







                                <button id="share-btn" type="button" class="btn btn-secondary col-4" data-container="body" data-toggle="popover" data-placement="bottom" data-content="hello">
                                    分享 <div data-project-url="https://www.flyingv.cc/projects/27640" id="share-fb-btn">FB share</div>
                                    <div id="share-line-btn"><script type="text/javascript">LineIt.loadButton();</script></div>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="below-content">
        <section id="campaign-details-all">
            <div class="container">
                <div class="row">
                    <!-- 左側欄位 -->
                    <div id="leftside-main-col" class="col-sm-12 col-md-8">
                        <!-- 提案詳細介紹，nav with four tabs -->
                        <section id="campaign-details">
                            <nav id="info-tabs">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-story-tab" data-toggle="tab" href="#nav-story" role="tab"
                                       aria-controls="nav-story" aria-selected="true">專案內容</a>
                                    <a class="nav-link" id="nav-faq-tab" data-toggle="tab" href="#nav-faq" role="tab"
                                       aria-controls="nav-faq" aria-selected="false">常見問題</a>
                                    <a class="nav-link" id="nav-updates-tab" data-toggle="tab" href="#nav-updates" role="tab"
                                       aria-controls="nav-updates" aria-selected="false">專案進度</a>
                                    <a class="nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab"
                                       aria-controls="nav-comments" aria-selected="false">留言</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <!-- 專案內容 -->
                                <div class="tab-pane fade show active" id="nav-story" role="tabpanel" aria-labelledby="nav-story-tab">
                                    <section id="story">
                                        <div class="container">
                                            @*專案詳細說明內文*@
                                            @if (Model.ProjectDetailItem.ProjectStatus == "集資成功")
                                            {
                                            <div class="info wrapper">
                                                <p>已達成 募資目標!</p>
                                            </div>
                                            }

                                            @{
                                            string[] description_str = Model.ProjectDetailItem.ProjectImgUrl.Split(',');
                                            foreach (var item in description_str)
                                            {
                                            if (item.Contains("i.imgur"))
                                            {
                                            <div margin:1rem;">
                                                <img src="@item" style="width:100%;" />
                                            </div>
                                            }
                                            else
                                            {
                                            <p>@item</p>
                                            }
                                            }
                                            }
                                        </div>
                                    </section>
                                </div>

                                <div class="tab-pane fade" id="nav-faq" role="tabpanel" aria-labelledby="nav-faq-tab">
                                    <!-- 問答要做成 collapse -->
                                    <!-- 這裡要下判斷式，長出提問以及回答 -->
                                    <div class="accordion" id="accordionExample">

                                        @{
                                        foreach (var item in Model.ProjectDetailItem.ProjectFAQList)
                                        {
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        @item.Question
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                 data-parent="#accordionExample">
                                                <div class="card-body">
                                                    @item.Answer
                                                </div>
                                            </div>
                                        </div>
                                        }

                                        }

                                        @*<div class="faqWrapper">
                                            <div class="faq">
                                                <div class="outer">
                                                    <div class="arrow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <g fill="none" fill-rule="evenodd">
                                                                <path fill="#F8414A" d="M12.594 14.747l4.16-4.274C17.28 9.93 16.906 9 16.158 9H7.84c-.748 0-1.122.93-.594 1.473l4.162 4.274c.325.337.857.337 1.185 0z" />
                                                            </g>
                                                        </svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <g fill="none" fill-rule="evenodd">
                                                                <path fill="#F8414A" d="M12.594 9.253l4.16 4.274c.527.543.153 1.473-.595 1.473H7.84c-.748 0-1.122-.93-.594-1.473l4.162-4.274c.325-.337.857-.337 1.185 0z" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="question"> 家長/老師本身沒有程式基礎，也能引導小孩一起玩嗎？</div>
                                                </div>
                                                <div class="answer">
                                                    「沒問題的！這次海霸外傳《解碼傳說》附有詳解手冊，就算沒有程式基礎，也能夠輕鬆看懂唷！」<br />

                                                </div>
                                            </div>
                                        </div>*@

                                    </div>
                                </div>

                                @* 專案進度更新 *@
                                <div class="tab-pane fade" id="nav-updates" role="tabpanel" aria-labelledby="nav-updates-tab">
                                    @*下面放專案更新進度貼文的card*@

                                    <div id="goal-wrap" class="container">
                                        <span class="post-date label-grey">2021/01/05</span>
                                        <h4 class="post-label">已達成 募資目標!</h4>
                                        <h4 class="post-title">解鎖事項：募資成功</h4>
                                        <div class="wrapper">

                                            <div class="goal-detail ">
                                                <label class="label-grey">贊助金額</label>
                                                <h3 class="number">$149,140</h3>
                                            </div>
                                            <div class="goal-detail ">
                                                <label class="label-grey">支持者</label>
                                                <h3>51人</h3>
                                            </div>
                                            <div class="goal-detail ">
                                                <label class="label-grey">贊助比例</label>
                                                <h3>106.4%</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* 專案留言區 *@
                                <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                                    <div id="comment-hint" class="wrapper">
                                        <p>
                                            您還不是本案的贊助者，若有問題可直接
                                            <span class="color-tag"><i class="bi bi-envelope"></i> 聯絡提案人！</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- 右側欄位 -->
                    <div id="rightside-bar-col" class="col-sm-12 col-md-4">
                        <!-- 選擇方案 -->
                        <section id="select-perk">
                            <div class="min-display-slide">
                                <div class="row">
                                    @foreach (var item in Model.SelectPlanCards.PlanCardItems)
                                    {
                                    @Html.Partial("~/Views/Shared/PartialView/_selectPlanCardsPartial.cshtml", item);
                                    }
                                    <!-- <h4>選擇方案</h4> -->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section topCSS{
<link href="~/Assets/Css/campaignDetail.css" rel="stylesheet" />
}
@section endJS{
<script>
    //var message_btn = document.getElementById("ask-btn");
    //message_btn.addEventListener('click', function SendMessage() {
    //    document.createElement("div");
    //})

    var project_status = document.getElementById("goal-wrap");


         
        $('#ask-btn').on('shown.bs.modal', function () {
            $('#ask-modal').trigger('focus')
        })





        //Facebook分享的Api
        window.fbAsyncInit = function () {
            FB.init({
                appId: 'share-fb-btn',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));




        //官網傳送訊息程式碼:
        $(document).on('click', '#send_msg', function () {
            var content = $('#msg_content').val();

            if (content.length) {
                $.ajax({
                    url: laroute.route('api.inbox.send'),
                    type: 'POST',
                    data: {
                        project_id: '27640',
                        content: content
                    }
                })
                    .success(function (res) {
                        if (res.error) {
                            toastr.error(res.error);
                        } else {
                            toastr.success('成功傳送訊息');
                            $('#messageModal').modal('hide');
                        }
                    });
            } else {
                toastr.warning('請輸入內文！');
            }
        });

    </script>
}