@model ProjectTeamFour.ViewModels.MemberViewModel



@section topCSS{
    <link href="~/Assets/Css/Person_insPage/personal.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/rwd-personal.css" rel="stylesheet" />
}


<div class="banner">
    <div class="wrap">
        <ul class="nav nav-pills mb-12" id="pills-tab" role="tablist">
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">個人資料</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-backings-tab" data-toggle="pill" href="#pills-backings" role="tab" aria-controls="pills-backings" aria-selected="false">贊助紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-myprojects-tab" data-toggle="pill" href="#pills-myprojects" role="tab" aria-controls="pills-myprojects" aria-selected="false">提案紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-selected="false">聯絡訊息</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">最新通知</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="false">個人資料</a>
            </li>
            <li class="nav-item-tag active" role="presentation">
                <a class="nav-links" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false">帳號管理</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-setting-tab" data-toggle="pill" href="#pills-setting" role="tab" aria-controls="pills-setting" aria-selected="false">通知設定</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <section class="person">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_usersPartial.cshtml")
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-backings" role="tabpanel" aria-labelledby="pills-backings-tab">
                <section class="record">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_backingRecordsPartial.cshtml")
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-myprojects" role="tabpanel" aria-labelledby="pills-myprojects-tab">
                <section class="case">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml")
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
                <div class="message">
                    <div class="wrap-inside">
                        <div class="wrap-inside">
                            @Html.Partial("~/Views/Shared/MemberCenterPartial/_messagePartial.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                <div class="news">
                    <div class="wrap-inside">
                        <div class="wrap-inside">
                            @Html.Partial("~/Views/Shared/MemberCenterPartial/_activityPartial.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">       
                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_editPartial.cshtml")
            </div>
            <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                <div class="account">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_resetPasswordPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
                <div class="setting">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_notifactionPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
