@model MemberViewModel
@{
    //var vm = (MemberViewModel)Session["Member"];
    var birthday = Model.MemberBirth.ToString("yyyy-MM-dd");
    DateTime today = DateTime.Now;
    var genderval = Model.Gender;
    switch (genderval)
    {
        case ("男性"):

            break;
        case ("女性"):
            break;
        case ("其他"):
            break;
            //default:

    }
}

@section topCSS{
    <link href="~/Assets/Css/Person_insPage/personal.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/rwd-personal.css" rel="stylesheet" />
    <link href="~/Assets/Plugin/JQuery/jquery_1.10.24datatable.css" rel="stylesheet" />
}

<div class="banner">
    <div class="">
        <ul class="nav nav-pills mb-12" id="pills-tab" role="tablist">
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">個人頁面</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-backings-tab" data-toggle="pill" href="#pills-backings" role="tab" aria-controls="pills-backings" aria-selected="false">購買紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-myprojects-tab" data-toggle="pill" href="#pills-myprojects" role="tab" aria-controls="pills-myprojects" aria-selected="false">提案紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-selected="false">聯絡訊息</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">最新通知</a>
            </li>
            <li class="nav-item-tag " role="presentation">
                <a class="nav-links" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="true">帳號管理</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false">修改密碼</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-setting-tab" data-toggle="pill" href="#pills-setting" role="tab" aria-controls="pills-setting" aria-selected="false">車車專區</a>
            </li>
        </ul>
    </div>
    <div class="wrap">

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <section class="person">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_usersPartial.cshtml")
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-backings" role="tabpanel" aria-labelledby="pills-backings-tab">
                <section class="record">
                    <div class="wrap-inside">
                        @if (Model.Records != null)
                        {

                            @Html.Partial("~/Views/Shared/MemberCenterPartial/_backingRecordsPartial.cshtml", Model.Records) 
                        }
                        else
                        {
                            <div>您目前沒有任何贊助歷史!</div>
                        }
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-myprojects" role="tabpanel" aria-labelledby="pills-myprojects-tab">
                <section class="case">

                    <div class="wrap-inside">
                        <div class="case-title">
                            <h2>提案紀錄</h2>
                            <p>您可以在此查閱所有發起過的專案，專案提交後 7 個工作天內將有專人協助您進行下一步。</p>
                            <hr />
                        </div>
                        @{ if (Model.MyProjects == null && Model.MyDraftProjects == null)
                            {
                                <p>目前還沒有任何提案!歡迎隨時發起提案</p>
                            }
                            else if (Model.MyProjects != null || Model.MyDraftProjects != null)
                            {
                                if (Model.MyProjects != null && Model.MyDraftProjects != null)
                                {
                                    <div class="case-doing-creating">
                                        <h3>募資中專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyProjects)
                                        {
                                            if (item.ProjectStatus == "集資中" || item.ProjectStatus == "集資成功")
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="case-doing-creating">
                                        <h3>審核中專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyProjects)
                                        {
                                            if (item.ApprovingStatus == 1)
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>

                                    @*<div class="case-doing-funding">*@
                                    <div class="case-doing-creating">
                                        <h3>已結束專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyProjects)
                                        {

                                            if (item.ProjectStatus == "結束且成功" || item.ProjectStatus == "結束且失敗")
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>
                                    @*</div>*@

                                    <div class="case-doing-creating">
                                        <h3>草稿專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyDraftProjects)
                                        {
                                            if (item.ApprovingStatus == 0)
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myDraftProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>

                                    @*<div class="case-doing-creating-content">
                                            <p>目前您沒有募資中專案</p>
                                        </div>

                                        <div class="case-doing-creating-content">
                                            <p>您目前沒有審核中的專案</p>
                                        </div>

                                        <div class="case-doing-creating-content">
                                            <p>目前您沒有已結束專案</p>
                                        </div>

                                        <p>目前您沒有創建中專案</p>*@

                                }
                                else if (Model.MyProjects != null)
                                {
                                    <div class="case-doing-creating">
                                        <h3>募資中專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyProjects)
                                        {
                                            if (item.ProjectStatus == "集資中" || item.ProjectStatus == "集資成功")
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="case-doing-creating">
                                        <h3>審核中專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyProjects)
                                        {
                                            if (item.ApprovingStatus == 1)
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="case-doing-creating">
                                        <h3>已結束專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyProjects)
                                        {
                                            if (item.ProjectStatus == "結束且成功" || item.ProjectStatus == "結束且失敗")
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="case-doing-creating">
                                        <h3>草稿專案</h3>
                                        <hr />
                                        @foreach (var item in Model.MyDraftProjects)
                                        {
                                            if (item.ApprovingStatus == 0)
                                            {
                                                <div class="case-doing-creating-content">
                                                    @Html.Partial("~/Views/Shared/MemberCenterPartial/_myDraftProjectPartial.cshtml", item)
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            }
                        }

                    </div>
                </section>

            </div>
            <div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
                <!--聯絡訊息-->
                <div class="message">
                    <div class="wrap-inside">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="search-item">
                                    <select class="message-input" name="option">
                                        <option value="1" selected="selected">最新</option>
                                        <option value="2">未讀</option>
                                        <option value="3">已讀</option>
                                    </select>
                                    <i class="fas fa-search"></i>
                                    <input type="search" class="mysearch">
                                    <style id="search-style"></style>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container all-comments">
                    <div class="row myComments">


                        @if (Model.Comments.Count == 0)
                        {
                            <div class="row nomessage" style="text-align: center;justify-content: center;">
                                <h3>您尚未有任何留言</h3>
                            </div> }
                        else
                        {
                            foreach (var comment in Model.Comments)
                            {
                                @Html.Partial("~/Views/Shared/MemberCenterPartial/_messagePartial.cshtml", comment)
                            }
                        }





                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                帳戶活動與通知
                <div class="news">
                    <div class="wrap-inside">
                        @foreach (var announcement in Model.Announcements)
                        {
                            @Html.Partial("~/Views/Shared/MemberCenterPartial/_activityPartial.cshtml", announcement)
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">
                <!--會員資料編輯-->
                <div class="edit">
                    <div class="wrap-inside">
                        @{ var vm = (MemberViewModel)Session["Member"]; }
                        @if (vm == null)
                        {
                            Html.ActionLink("登入", "Login", "Member");
                        }
                        else if (vm != null)
                        {
                            //<form method="post" action="" accept-charset="UTF-8">
                            <div id="user-profile" class="container">
                                <div class="form-group row">
                                    <!-- 左欄 -->
                                    <div class="left col-12 col-md-6">
                                        <div id="upload-img">
                                            <!-- 這裡是複製的 -->
                                            <div class="flyingUpload">
                                                @*<svg width="93" height="93" class="transpCircle">
                                                        <mask id="mask">
                                                            <rect fill="white" width="100%" height="100%" />
                                                            <circle cx="46.5" cy="46.5" r="45.5" stroke="black" stroke-width="2" />
                                                        </mask>
                                                        <rect mask="url(#mask)" fill="rgba(0, 0, 0, 0.5)" width="100%" height="100%" />
                                                    </svg>*@
                                                <img src="@vm.ProfileImgUrl" alt="@vm.MemberName"
                                                     class="avatar" style="width: 93px;height:93px; border-radius:50%;" id="imgshow">
                                                <div class="">
                                                    <span class="image-hinter" style="">
                                                        <strong>上傳圖片</strong><br>
                                                        <span class="grey">2MB 以內的 JPEG, PNG, GIF 或 BMP</span>
                                                        <input class="upload" id="uploadimg" accept="image/*" name="avatar" type="file" style="opacity: 0.1;">
                                                        <span id="imgurl" hidden="hidden"></span>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                        <div id="memberid" hidden="hidden">@vm.MemberId</div>

                                        <div id="register-email" class="form-group">
                                            <label for="inputEmail">註冊信箱</label>
                                            <input type="email" class="form-control" id="inputEmail" placeholder="@vm.MemberRegEmail" readonly>
                                            <p class="small-hint">此為您的 集資車車 系統登入帳號。</p>
                                        </div>
                                        <div id="contact-email" class="form-group">
                                            <label for="inputEmail">聯絡信箱</label>
                                            <input type="email" class="form-control" required id="contactEmail" value="@vm.MemberConEmail" name="MemberConEmail">
                                        </div>

                                        <div id="gender" class="form-group">
                                            <label for="gender">性別</label>
                                            <p id="get-gender" hidden>@vm.Gender</p>
                                            <input type="text" class="form-control" id="gender1" value="@vm.Gender" name="Gender" disabled>
                                            @*<select class="form-control" id="gender1" name="Gender">
                                                    <option value="請選擇性別">請選擇性別</option>
                                                    <option value="男性">男性</option>
                                                    <option value="女性">女性</option>
                                                    <option value="其他">其他</option>
                                                </select>*@
                                        </div>

                                        <div class="form-group">
                                            <label for="birthday">生日</label>
                                            <input type="date" class="form-control" id="birthday1" value="@birthday" name="MemberBirth">
                                        </div>


                                    </div>
                                    <!-- 右欄 -->
                                    <div class="right col-12 col-md-6">
                                        <div id="about-me" class="form-group">
                                            <label for="about" class="colored-label">關於我</label>
                                            <textarea class="form-control" id="about" rows="5" cols="50" placeholder="300字以內簡介" name="AboutMe">@vm.AboutMe</textarea>
                                        </div>
                                        <div id="name" class="form-group">
                                            <label for="name">顯示名稱</label>
                                            <input type="text" class="form-control" id="name1" value="@vm.MemberName" name="MemberName">
                                        </div>
                                        <div id="memberwebsite" class="form-group">
                                            <label for="memberwebsite">個人網站</label>
                                            <input type="url" class="form-control" id="personal-site" value="@vm.MemberWebsite" name="MemberWebsite">
                                        </div>

                                    </div>
                                </div>

                                <hr />
                                @*<input type="submit" value="儲存" class="btn btn-primary"/>*@
                                <button id="btnSub" class="btn btn-primary">儲存</button>
                                <button  id="btn-black" class="btn btn-primary" href="@vm.MemberId">查看檔案頁</button>
                                @*Html.ActionLink("會員資料", $"Member/{@vm.MemberId}", "UserInfo")*@
                            </div> //</form>
                        } @*表單提交區域!!!*@
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                <!--修改密碼-->
                <div class="account">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_resetPasswordPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
                <div class="setting">
                    <div class="wrap-inside">
                        @if (Model.PlanRecords == null)
                        {
                            <div class="row nomessage" style="text-align: center;justify-content: center;">
                                <h3>您目前於車車商城上沒有任何上架方案</h3>
                            </div>
                        }
                        else
                        {
                            <div class="case-title">
                                <h2>上架方案</h2>
                            </div>
                            <div class="container" id="notifactionApp">

                                <div class="row mt-4">
                                    @foreach (var plan in Model.PlanRecords)
                                    {
                                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_notifactionPartial.cshtml", plan)
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@if (vm != null)
    {
        <p>@vm.MemberRegEmail</p>
    }*@

@section endJs
    {
    <script src="~/Assets/Plugin/JQuery/jquery_3.5.1_code.js"></script>
    <script src="~/Assets/Plugin/JQuery/jquery_3.5.1.min.js"></script>
    <script src="~/Assets/Plugin/JQuery/jquery_1.10.24dataTable.js"></script>
    <script src="~/Assets/Plugin/Slick/slick_cdn1.8.1.min.js"></script>
    @*datatable套件*@
    <script src="~/Assets/Javascript/PersonalInfo/PersonInfo.js"></script>
    <script src="~/Assets/Javascript/PersonalInfo/record.js"></script>

    <script>






        var LanchCommentAnswer = "";




        function changeTextareaValue(event) {

            LanchCommentAnswer = event.target.value;
            /*LanchCommentAnswer = e;*/

        }

        ///回覆按鈕觸發事件
        function LanchCommentAnswerAjax(CommentId) {

            if (LanchCommentAnswer == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '請留言!',

                });
            }
            else {
                $.ajax({
                    url: "/api/Comment/ReplyComment",
                    type: "POST",
                    data: { CommentId: CommentId, Comment_Answer: LanchCommentAnswer },
                    success: function (data, textStatus, jqXHR) {
                        if (data == "fail") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: '發生錯誤，請再試一次!',

                            });
                        }
                        else {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: '已成功回覆！',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            window.setTimeout(reloading, 1000);

                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                    }
                })

            }
        }
        function reloading() {
            window.location.assign(window.location.href);
        }
    </script>


    @*<script>

            let LanchCommentAnswer = document.querySelector(".LanchCommentAnswer");

            ///回覆按鈕觸發事件
            function LanchCommentAnswerAjax(CommentId) {

                if (LanchCommentAnswer.value == "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '請留言!',

                    });
                }
                else {
                    $.ajax({
                        url: "/api/Comment/ReplyComment",
                        type: "POST",
                        data: { CommentId: CommentId, Comment_Answer: LanchCommentAnswer.value },
                        success: function (data, textStatus, jqXHR) {
                            if (data == "fail") {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: '發生錯誤，請再試一次!',

                                });
                            }
                            else {
                                Swal.fire({
                                    position: 'top-center',
                                    icon: 'success',
                                    title: '已成功回覆！',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                window.setTimeout(reloading, 1000);

                            }

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                            console.log(textStatus);
                        }
                    })

                }
            }
            function reloading() {
                window.location.assign(window.location.href);
            }
        </script>*@

    <script>
        let messageSelect = document.querySelector(".message-input");


        let myComments = document.querySelector(".myComments");
        let allComments = document.querySelector(".all-comments");
        var cloneMyComments = myComments.cloneNode(true);
        let mysearch = document.querySelector(".mysearch");
        let searchStyle = document.querySelector("#search-style");
        mysearch.addEventListener("input", function () {
            if (!this.value) {
                searchStyle.innerHTML = "";
                return;
            }
            else {

                searchStyle.innerHTML = ".message-block:not([data-index*=\"" + this.value + "\"]){ display: none } ";

            }

        });
        messageSelect.addEventListener("change", function () {
            if (this.value == "2") {

                if (mysearch.value != "") {
                    searchStyle.innerHTML = `.message-block:not([data-index*=\"" + "False"+ "${mysearch.value}" + "\"]){ display: none } `;
                }
                else {
                    searchStyle.innerHTML = ".message-block:not([data-index*=\"" + "False" + "\"]){ display: none } ";
                }
            }
            else if (this.value == "3") {

                if (mysearch.value != "") {
                    searchStyle.innerHTML = `.message-block:not([data-index*=\"" + "True"+ "${mysearch.value}" + "\"]){ display: none } `;
                }
                else {
                    searchStyle.innerHTML = ".message-block:not([data-index*=\"" + "True" + "\"]){ display: none } ";
                }

            }
            else {
                searchStyle.innerHTML = "";

            }
        })

        //messageSelect.addEventListener("change", function () {
        //    if (messageSelect.value == "2") {

        //        var hasReply = document.querySelectorAll(".has-reply");
        //        hasReply.forEach(node => myComments.removeChild(node.offsetParent));
        //        Init();

        //    }
        //    else if (messageSelect.value == "3") {

        //        var noReply = document.querySelectorAll(".no-reply");
        //        noReply.forEach(node =>myComments.removeChild(node.offsetParent));
        //        Init();

        //    }
        //    else {

        //    }
        //});

        //function Init()
        //{
        //            allComments.removeChild(myComments);

        //            allComments.appendChild(cloneMyComments);
        //}




    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script>
        var form = new Vue({
            el: "#notifactionApp",
            methods: {
                vaildation: function (id) {
                    let SubmitLimit = $('#' + id + 'planNumber').val() //提交庫存數

                    let SubmitLimitRegexpNum = /^[0-9]*$/;//輸入非數字時提示
                    let SubmitLimitRegexp = /^09/; //開頭為09

                    let SubmitLimitError = false
                    let SubmitLimitErrorMsg = '';
                    if (SubmitLimit == "") {
                        SubmitLimitError = true;
                        /*SubmitLimitErrorMsg = '數字不得為空';*/
                        swal({
                            title: 'warning',
                            text: '數字不得為空！',
                            icon: 'error'
                        });
                    } else {
                        SubmitLimitError = false;
                        SubmitLimitErrorMsg = '';
                    }
                    if (SubmitLimitError) {
                        $('#' + id + 'planNumber').addClass('is-invalid')
                    } else {
                        $('#' + id + 'planNumber').removeClass('is-invalid')
                    }

                    if (SubmitLimitErrorMsg != '') alert(SubmitLimitErrorMsg);
                    $('#' + id + 'SubmitLimitErrorMsg').text(SubmitLimitErrorMsg)

                    return SubmitLimitError
                },
                submitData: function (id) {
                    if (!this.vaildation(id)) {
                        console.log('update plan')
                        this.saveServer(id);
                    }
                },
                saveServer: function (id) {
                    let SubmitLimit = $('#' + id + 'planNumber').val()
                    $.ajax({
                        type: "POST",
                        url: '/api/memberapi/UpdatePlan',
                        dataType: "json",
                        data: JSON.stringify({ PlanId: id, SubmitLimit: SubmitLimit }), //注意是放JSON  字串
                        dataType: "json",
                        headers: {
                            'Content-type': 'application/json'
                        }, //注意 Content-type
                        success: function (response) {
                            console.log(response);
                            swal({
                                title: 'OK',
                                text: '送出成功！',
                                icon: 'success'
                            });
                            window.setTimeout(reloading, 1000);
                        },
                        error: function (err) {
                            console.log(err);
                            //swal({
                            //    title: 'warning',
                            //    text: '數字不得為空！',
                            //    type: 'error'
                            //});
                        }
                    });
                }
            }
        })


            //$('.product-item-qty button').on('click', function () {
            //    var $input = $(this).siblings('input');
            //    if (isNaN($input.val())) {
            //        alert('請輸入有效數字');
            //        return;
            //    }
            //var data = {
            //    PlanId: $input.data('planid'),
            //    SubmitLimit: $input.val()
            //}

            //function SaveServer() {
            //    $.ajax({
            //        type: "POST",
            //        url: '/api/memberapi/UpdatePlan',
            //        dataType: "json",
            //        data: JSON.stringify({ planNumber: form.$data.inputData.SubmitLimit }), //注意是放JSON  字串
            //        dataType: "json",
            //        headers: {
            //            'Content-type': 'application/json'
            //        }, //注意 Content-type
            //        success: function (response) {
            //            console.log(data);
            //        },
            //        error: function (err) {
            //            console.log(err);
            //        }
            //    });
            //}
    </script>
}