@model MemberViewModel


@section topCSS{
    <link href="~/Assets/Css/Person_insPage/personal.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/rwd-personal.css" rel="stylesheet" />
}


<div class="banner">
    <div class="wrap">
        <ul class="nav nav-pills mb-12" id="pills-tab" role="tablist">
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">個人資料</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-backings-tab" data-toggle="pill" href="#pills-backings" role="tab" aria-controls="pills-backings" aria-selected="false">贊助紀錄</a>
            </li>
            <li class="nav-item-tag  active" role="presentation">
                <a class="nav-links" id="pills-myprojects-tab" data-toggle="pill" href="#pills-myprojects" role="tab" aria-controls="pills-myprojects" aria-selected="false">提案紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-selected="false">聯絡訊息</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">最新通知</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="false">個人資料</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false">帳號管理</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-setting-tab" data-toggle="pill" href="#pills-setting" role="tab" aria-controls="pills-setting" aria-selected="false">通知設定</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <section class=person>
                    <div class="wrap-inside">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <p>我的會員資料</p>

                            </div>
                        </div>
                    </div>
                </section>

                <section class="about-some">
                    <div class="wrap-inside">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="about-case">
                                    <h2>贊助過的專案</h2>
                                    <p>目前還沒有贊助過任何專案</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-backings" role="tabpanel" aria-labelledby="pills-backings-tab">
                <section class="record">
                    <div class="wrap-inside">
                        <div class="record-content">
                            <h2>贊助紀錄</h2>
                            <p>在專案結束之前，您都可修改你的回饋寄送資訊，ATM 轉帳與超商付款請於繳費期限內繳款。逾期後訂單會自動消失。</p>
                    </div>
                        <span>單筆贊助</span>
                        <div class="record-detail">
                            <div class="record-detillist">
                                <div class="record-detail-col">贊助專案</div>
                                <div class="record-detail-col">贊助金額</div>
                                <div class="record-detail-col">回饋項目</div>
                                <div class="record-detail-col">金流單號</div>
                                <div class="record-detail-col">收到了?</div>
                            </div>
                            <p>目前沒有任何贊助歷史</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade  show active" id="pills-myprojects" role="tabpanel" aria-labelledby="pills-myprojects-tab">
                <section class="case">
                    
                    <div class="wrap-inside">
                        <div class="case-title">
                            <h2>提案紀錄</h2>
                            <p>您可以在此查閱所有發起過的專案，專案提交後 7 個工作天內將有專人協助您進行下一步。</p>
                            <hr />
                        </div>
                        @{
                            if (Model.MyProjects == null)
                            {
                                <p>目前沒有任何提案</p>
                            }
                            else
                            {
                                foreach (var item in Model.MyProjects)
                                {
                                    <div>
                                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_myProjectPartial.cshtml", item)
                                    </div>

                                }
                            }
                        }

                        <div class="case-doing">
                            <div class="case-doing-funding">
                                <h3>募資中專案</h3>
                                <p>目前您沒有募資中專案</p>
                            </div>
                            <div class="case-doing-creating">
                                <h3>創建中專案</h3>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
                <div class="message">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_messagePartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                <div class="news">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_activityPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">
                <div class="edit">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_editPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                <div class="account">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_resetPasswordPartial.cshtml")
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
                <div class="setting">
                    <div class="wrap-inside">
                        @Html.Partial("~/Views/Shared/MemberCenterPartial/_notifactionPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>